<%- include('partials/core/pageBeginning', {title: 'FAQ Widget'}) -%>

<h1>FAQ Widget Page</h1>
<div id="faq-widget"></div>

<%-
include('partials/core/pageEnding', {scripts: [
  'components/FAQWidget/FAQWidget.mount',
]})
-%>
