<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <!-- Title -->
  <title><%= locals.title || 'Atmena' %></title>

  <!--Styles-->
  <link rel="stylesheet" href="/css/common.css">
  <%
    const styles = locals.styles;
    const stylesLength = styles ? styles.length : 0;
    for (var i = 0; i < stylesLength; i++) {
    %> <link rel="stylesheet" href="/css/<%- styles[i] %>.css"> <%
    }
  -%>
  <noscript><link rel="stylesheet" href="/css/noscript.css"></noscript>
</head>
<body>
<%- include('navbar') -%>
